In [ ]:
#Variables-storing info in computer memory
#Example
students_count=1000
print(students_count)

1000

In [ ]:
#Types of data
#integer=1000(whole num)
#float=4.99(decimal)
#boolean=True/False
#string=course_name="web development"

In [ ]:
#strings
message = """
Hi 
My name is Denzel 

blah blah blah
"""
print(message)

#Tripple quotes used for long text

Hi
My name is Denzel

blah blah blah

In [ ]:
#functions
#len() - number of charc
#example

course = "web development"
print(len(course))
print(course[0])
print(course[-1])
print(course[0:3])
print(course[0:])
print(course[:3])
print(course[:])

15
w
t
web
web development
web
web development

In [ ]:
# \n - for new line


course = "web \"development"
course = "web \n development"
print(course)

web
 development

In [ ]:
#formatted strings

first = "Denzel"
last = "Washington"
full = f"{first} {last}"
print(full)

Denzel Washington

In [ ]:
course = "  computer packages"
print(course.upper())
print(course)
print(course.title())
print(course.strip())
print(course.find("pack"))
print(course.replace("pack", "back"))
print("comp" in course)
print("web" not in course)

  COMPUTER PACKAGES
  computer packages
  Computer Packages
computer packages
11
  computer backages
True
True

In [ ]:
#numers

print(10/3)
print(10//3)
print(10*3)
print(10+3)
print(10-3)
print(10%3)
print(20%3) #modulus rem after division
print(10**3) #ten power three

3.3333333333333335
3
30
13
7
1
2
1000

In [ ]:
course = "python programming"